.fixed-top { 
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid rgba(61, 52, 52, 0.2);
  background-color: rgba(196, 170, 170, 0.342);
  font-family: 'Roboto', sans-serif;
}
.sitecentertop {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.blogmenu {
  display: flex;
  justify-content: end;
  width: 100px;
}
.teddy-logo {
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  font-size: 1.2em;
  font-weight: 600;
}
.teddy-logo a {
  text-decoration: none;
  color: black;
}
.teddy-logo a:hover {
  text-decoration: underline;
}

.featured {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(61, 52, 52, 0.4);
  font-family: fantasy;
}
.sitecentertop img {
  width: 50px;
  height: 50px;
}
.block-source {
  display: flex;
}
.main-page-explain {
}
.blog-name {
  font-size: 2em;
  font-weight: bolder;
  margin-bottom: 20px;
}
.product-recommend {
  font-size: 1.5em;
  font-weight: bolder;
  padding-bottom: 20px;
}
.blog-explain {
  margin-bottom: 32px;
  font-size: 1em;
  font-weight: bold;
}
.blog-explain, .product-name {
  font-size: 1em;
  font-weight: lighter;
}
.product-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: rgba(61, 52, 52, 0.4) 1.5px solid;
  margin: 0px 20px 20px 0px;
  width: 490px;
}
.static {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgsize {
  width: 300px;
  padding: 10px 10px 20px 0px;
}
.bottomline {
  border-bottom: 1px solid rgba(61, 52, 52, 1);
}
.sitecenter {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.1em;
  font-weight: bolder;
  border-rop: 1px solid rgba(61, 52, 52, 1);
}